@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --dark-desat-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --divider: hsl(240, 5%, 91%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --v-dark-gray-blue: hsl(237, 12%, 33%);
  --dark-gray-blue: hsl(240, 6%, 50%);
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--soft-violet);
  background: linear-gradient(
    180deg,
    var(--soft-violet) 20%,
    var(--soft-blue) 80%
  );
  color: var(--dark-desat-blue);
  font-family: "Kumbh Sans", sans-serif;
  overflow-y: scroll;
}

main {
  width: 93%;
  max-width: 92.2rem;
  background-color: white;
  margin: 2.4rem;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  padding: 0 2.5rem 4.6rem 2.5rem;
  margin-top: 14.6rem;
}

.box-float {
  display: none;
  position: absolute;
  top: 45%;
  margin-left: -9.3rem;
}

picture {
  display: flex;
  justify-content: center;
  background-image: url(./images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 79.67%;
  padding-bottom: 6.6rem;
}

img {
  margin-top: -33%;
  width: 79.67%;
}

.img-container {
}

h1 {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3.8rem;
}

details {
  border-bottom: 0.1rem solid var(--divider);
  margin-bottom: 1.7rem; /*maybe 1.7 */
  padding-bottom: 1.5rem;
  color: var(--dark-gray-blue);
  font-size: 1.2rem;
}

details p {
  line-height: 1.5rem;
  padding-right: 3rem;
}

summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  color: var(--v-dark-gray-blue);
}
summary:after {
  content: url(/images/icon-arrow-down.svg);
  transform-origin: center;
  transition: 200ms linear;
}

details[open] summary:after {
  transform: rotate(180deg);
}

details[open] summary {
  font-weight: 700;
  color: var(--dark-desat-blue);
  margin-bottom: 1.5rem;
}

details summary:hover {
  color: var(--soft-red);
}

@media screen and (min-width: 756px) {
  main {
    flex-direction: row;
    padding: 0;
    overflow-x: hidden;
    margin-top: 9rem;
  }

  .box-float {
    display: unset;
  }
  picture {
    height: 100%;
    align-items: center;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-position: right -18rem;
    padding: auto;
    background-size: 170%;
    margin-left: -8rem;
    margin-right: 9.766%;
    padding-top: 7rem;
    padding-bottom: 8rem;
  }
  img {
    margin-top: auto;
    width: auto;
    height: max-content;
  }
  .accordion-container {
    width: 100%;
    margin-top: 7rem;
    margin-right: 10.304%;
  }

  h1 {
    text-align: left;
  }

  summary {
  }

  details {
  }
}

.attribution {
  justify-self: flex-end;
  margin-top: 5rem;
  font-size: 1rem;
  text-align: center;
  color: white;
}

.attribution a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}
.attribution a:hover {
  color: var(--soft-red);
}
