@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --dark-desat-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --divider: hsl(240, 5%, 91%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --v-dark-gray-blue: hsl(237, 12%, 33%);
  --dark-gray-blue: hsl(240, 6%, 50%);
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--soft-violet);
  background: linear-gradient(
    180deg,
    var(--soft-violet) 20%,
    var(--soft-blue) 80%
  );
  font-family: "Kumbh Sans", sans-serif;
}

main {
  width: 93%;
  max-width: 92.2rem;
  background-color: white;
  margin: 2.4rem;
  display: flex;
  flex-direction: column;
}

.box-float {
  position: absolute;
  top: 40%;
  left: -5rem;
  display: none;
}

picture {
  display: flex;
  justify-content: center;
  background-image: url(./images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 73%;
  padding-bottom: 6.6rem;
}

img {
  margin-top: -33%;
  width: 73%;
}

@media screen and (min-width: 600px) {
  main {
    flex-direction: row;
  }

  .box-float {
    display: block;
  }

  img {
    margin-top: 0;
  }
}

.img-container {
}
